<a href="https://colab.research.google.com/github/miinseo324/programmers_python/blob/main/level0_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 01. 수 조작하기 1

정수 n과 문자열 control이 주어집니다. control은 "w", "a", "s", "d"의 4개의 문자로 이루어져 있으며, control의 앞에서부터 순서대로 문자에 따라 n의 값을 바꿉니다.

*my solution*

In [1]:
def solution(n, control):
  return n+control.count("w")*1-control.count("s")*1+control.count("d")*10-control.count("a")*10

*other solution*

In [2]:
def solution(n, control):
  key = dict(zip(['w', 's', 'd', 'a'], [1, -1, 10, -10]))
  return n + sum([key[c] for c in control])

zip으로 묶어서 대응시킨 후, 딕셔너리로 만들었다.
그리고 sum을 사용해서 계속 더하게 한 후, 리턴함

## 02. 짝수 홀수 개수

정수가 담긴 리스트 num_list가 주어질 때, num_list의 원소 중 짝수와 홀수의 개수를 담은 배열을 returnr 하도록 solution 함수를 완성해 보세요.

*my solution*

In [3]:
def solution(num_list):
  answer = [0,0]
  for i in num_list:
    if i%2 == 0:
      answer[0] += 1
    else:
      answer[1] += 1
  return answer

*other solution*

In [4]:
def solution(num_list):
  answer = [0,0]
  for n in num_list:
    answer[n%2] += 1
  return answer

answer = [0,0]으로 [짝수의 개수, 홀수의 개수]로 되어있다.

짝수의 개수의 인덱스는 0이고 홀수의 개수의 인덱스는 1이므로
단순하게 짝수 홀수 n%2 연산을 해도, 짝수는 0 그리고 홀수는 1이다.

이를 이용해서 간단하게 구현

## 03. l로 만들기

알파벳 소문자로 이루어진 문자열 myString이 주어집니다. 알파벳 순서에서 "l"보다 앞서는 모든 문자를 "l"로 바꾼 문자열을 return 하는 solution 함수를 완성해 주세요.

*my solution*

In [5]:
def solution(myString):
  answer = ''
  for i in myString:
    if i in 'abcdefghijk':
      answer += 'l'
    else:
      answer += i
  return answer

*other solution*

In [7]:
def solution(myString):
  return myString.translate(str.maketrans('abcdefghijk','lllllllllll'))

**maketrans() : 문자열 치환 함수**

str.maketrans('바꾸기전문자열', '바꾼후 문자열')
str.maketrans('바꿀문자들', '대응하는문자들(바꿀)')

변수의 개수가 같아야한다.

그런데, maketrans를 사용할 때, translate를 함께 써야한다.
어떻게 변환할 것인지에 대해 str.maketrans로 선언, translate 함수로 감싸서 최종 변환

문자열명.translate(str.maketrans(변환시킬 문자 모음, 변환될 문자 모음))

## 04. 공배수

정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을, 아니라면 0을 return 하도록 solution 함수를 완성해 주세요.

*my solution*

In [8]:
def solution(number, n, m):
  return int(number%n == 0 and number%m==0)

True = 1, False = 0 을 의미한다.

**Boolean**

: 자료형의 한 종류, True와 False만 담을 수 있다.

*and (논리 곱 연산자)*

- True and True : True
- True and False : False
- False and True : False
- False and False : False

*or (논리 합 연산자)*

- True or True : True
- True or False : True
- False or True : True
- False or False : False

*not (논리 부정 연산자)*

- not True : False
- not False : True

*nand (부정 논리 곱 연산자)*

- True nand True : False
- True nand False : True
- False nand True : True
- False nand False : True

*nor (부정 논리 합 연산자)*

- True nor True : False
- True nor False : False
- False nor True : False
- False nor False : True

*xor (배타적 논리 합 연산자)*

- True xor True : False
- True xor False : True
- False xor True : True
- False xor False : False

## 05. 문자열 안에 문자열

문자열 str1, str2가 매개변수로 주어집니다. str1 안에 str2가 있다면 1을, 없다면 2를 return 하도록 solution 함수를 완성해주세요.

*my solution*

In [9]:
def solution(str1, str2):
  return 1 if str2 in str1 else 2

## 06. 두 수의 차

정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return 하도록 solution 함수를 완성해주세요.

In [10]:
solution = lambda num1, num2 : num1+num2

이렇게 간단하게 람다 함수를 사용해서 해결할 수도 있음

## 07. 제곱수 판별하기

어떤 자연수를 곱했을 때 나오는 정수를 제곱수라고 합니다. 정수 n이 매개변수로 주어질 때, n이 제곱수라면 1을, 아니라면 2를 return 하도록 solution 함수를 완성해주세요.

*my solution*

In [11]:
def solution(n):
  if n**(1/2) == int(n**(1/2)):
    return 1
  else:
    return 2

*other solution*

In [12]:
def solution(n):
  return 1 if (n**0.5).is_integer() else 2

**is_integer()** : 자연수인지 확인